<% if (title == "Home") {%>
    <body>

        <!-- The body of the webpage, containing all visible content -->
        
        <!--All our content is enclosed in the header Main ID style-->
        <div class="container navbar-dark bg-white p-4">
            <!-- The main container for the page header and navigation content -->

            <!--The navigation ID style is inside the header Main ID style-->
                <div id="header-text">
                    <!-- A container for header text introducing myself -->
                    
                    <p>Networking and IT Security</p>
                    <!-- A description or title that summarizes Brahith's field of expertise -->
                    
                    <h2>Hello, I'm <span>Brahith</span> Pavanantharajah from OTU (Ontario Tech University)!</h2>
                    <!-- A personalized greeting introducing Brahith, with his first name in a span element for styling -->
                </div>
                <div class="col-md-6 text-center">
                   <img src="/Assests/images/Home.png" alt="welcome image" class="img-fluid" style="height:400px"/>
                <!-- Displays an image (perhaps a picture or avatar of Brahith) -->
        </div>
<%} %>